# Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Archivos de bloqueo opcionales
package-lock.json
yarn.lock

# Directorio de compilación de TypeScript
dist/
build/
lib/
out/

# Archivos de compilación
*.ts